
        </div>
        
</body>
</html>
<script src="{{rooturl}}frontend/js/libs/jquery-1.10.2.js"></script>
<script src="{{rooturl}}frontend/js/libs/bootstrap.js"></script>
<script src="{{rooturl}}_rsc/js/Epcal.js"></script>